.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: grey;
  height: 56px;
  z-index: 1;

}

.navbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 0.5rem;
}

.navbar_title a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar_spacer {
  flex: 1;
}


/*  */
.navbar_search {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav_search_bar {
  width: 26vw;
  height: 3vh;
  align-items: center;
  border-radius: 15px;
  font-size: 2vh;
  outline: none;
  margin-right: 10px;
}

.nav_search_button{
  width: 2rem;
  height: 2rem;
  border-radius: 15px;
}

.navbar_navigation-items a {
  color: white;
  text-decoration: none;
}


.navbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar_navigation-items li {
  padding: 0 0.5rem;
}

@media screen and (min-width: 500px) {
  .navbar {
    width: 100%;
    height: 75px;
  }
  .navbar_title a {
    font-size: 2.5rem;
  }
  .nav_search_bar {
    border-radius: 20px; 
    width: 30vw;
    height: 3.5vh;
    font-size: 2vh;
    margin-right: 10px;
  }
  
}

@media screen and (min-width: 850px) {
  .navbar {
    width: 100%;
    height: 85px;
  }
  .navbar_title a.sw-yes::after {
    content: "EATER WEATHER";
    font-size: 2.5rem;
  }
  .nav_search_bar {
    border-radius: 25px; 
    width: 32vw;
    height: 4vh;
    font-size: 3vh;
    margin-right: 10px;
  }
}